Options +FollowSymlinks
RewriteEngine on

RewriteBase /

RewriteCond %{REQUEST_URI} !^/Fotos/gallery_engine(.*)$
RewriteCond %{REQUEST_URI} !^/Fotos/index(.*)$
RewriteRule ^(.*)$ /Fotos/index.php?request=$1 [L]



# This works
#RewriteCond %{REQUEST_URI} !^/Fotos/index(.*)$
#RewriteRule ^(.*)$ /Fotos/index.php?folder=$1 [L]

